<div
  class="container-general mx-auto"
  *ngIf="turnoDetalle.historiaClinica != ''"
>
  <div class="row container-turno-detalle">
    <div class="col-12">
      <h2 class="text-center mb-3">Historia Clínica</h2>
      <div class="row">
        <div class="form-group col-md-6">
          <h3
            style="color: rgb(10, 110, 68); text-transform: uppercase"
            class="text-center"
          >
            {{ turnoDetalle.paciente.apellido }},
            {{ turnoDetalle.paciente.nombre }}
          </h3>
          <h3 style="color: rgb(15, 10, 110)" class="subtitulo">Datos Fijos</h3>
          <h3><b>Altura: </b> {{ turnoDetalle.historiaClinica.altura }}</h3>
          <h3><b>Peso en KG: </b> {{ turnoDetalle.historiaClinica.peso }}</h3>
          <h3>
            <b>Temperatura: </b> {{ turnoDetalle.historiaClinica.temperatura }}
          </h3>
          <h3
            style="color: rgb(15, 10, 110); margin-top: 20px"
            class="subtitulo"
          >
            Datos Dinámicos
          </h3>
          <h3 *ngIf="turnoDetalle.historiaClinica.clave1 != ''">
            <b>{{ turnoDetalle.historiaClinica.clave1 }}: </b
            >{{ turnoDetalle.historiaClinica.valor1 }}
          </h3>
          <h3 *ngIf="turnoDetalle.historiaClinica.clave2 != ''">
            <b>{{ turnoDetalle.historiaClinica.clave2 }}: </b
            >{{ turnoDetalle.historiaClinica.valor2 }}
          </h3>
          <h3 *ngIf="turnoDetalle.historiaClinica.clave3 != ''">
            <b>{{ turnoDetalle.historiaClinica.clave3 }}: </b
            >{{ turnoDetalle.historiaClinica.valor3 }}
          </h3>
          <h3 *ngIf="turnoDetalle.historiaClinica.clave4 != ''">
            <b>{{ turnoDetalle.historiaClinica.clave4 }}: </b
            >{{ turnoDetalle.historiaClinica.valor4 }}
          </h3>
          <h3 *ngIf="turnoDetalle.historiaClinica.clave5 != ''">
            <b>{{ turnoDetalle.historiaClinica.clave5 }}: </b
            >{{ turnoDetalle.historiaClinica.valor5 }}
          </h3>
          <h3 *ngIf="turnoDetalle.historiaClinica.clave6 != ''">
            <b>{{ turnoDetalle.historiaClinica.clave6 }}: </b
            >{{ turnoDetalle.historiaClinica.valor6 == true ? "SI" : "NO" }}
          </h3>
          <!-- 
        {{ turnoDetalle.historiaClinica.valor1 }}
        {{ turnoDetalle.historiaClinica.clave2 }}
        {{ turnoDetalle.historiaClinica.valor2 }}
        {{ turnoDetalle.historiaClinica.clave3 }}
        {{ turnoDetalle.historiaClinica.valor3 }}
        {{ turnoDetalle.historiaClinica.clave4 }}
        {{ turnoDetalle.historiaClinica.valor4 }}
        {{ turnoDetalle.historiaClinica.clave5 }}
        {{ turnoDetalle.historiaClinica.valor5 }}
        {{ turnoDetalle.historiaClinica.clave6 }}
        {{ turnoDetalle.historiaClinica.valor6 }} -->
        </div>
      </div>
    </div>
  </div>
</div>
