<body>
  <div class="containter-general mx-auto">
    <h2 class="">Estadísticas</h2>
    <div class="container-table table-responsive mx-auto mb-2">
      <table>
        <tbody>
          <td>
            <button
              type="button"
              class="btn btn-dark"
              (click)="mostrarIngresos()"
            >
              Log de ingreso
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-dark"
              (click)="mostrarTurnosByEspecialidad()"
            >
              Turnos por Especialidad
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-dark"
              (click)="mostrarTurnosPorDia()"
            >
              Turnos por día
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-dark"
              (click)="mostrarTurnosXMedico()"
            >
              Turnos solicitados por Médico
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-dark"
              (click)="mostrarTurnosXMedicoFinalizados()"
            >
              Turnos finalizados por Médico
            </button>
          </td>
        </tbody>
      </table>
    </div>
    <app-log-ingresos *ngIf="mostrarLogs"></app-log-ingresos>

    <app-grafico-cant-turnos-por-especialidad *ngIf="mostrarTurnosEspecialidad">
    </app-grafico-cant-turnos-por-especialidad>

    <app-grafico-cant-turnos-por-dia
      *ngIf="mostrarTurnosXDia"
    ></app-grafico-cant-turnos-por-dia>

    <app-grafico-cant-turnos-especialista
      *ngIf="mostrarTurnosXEspecialista"
    ></app-grafico-cant-turnos-especialista>

    <app-grafico-cant-turnos-especialista-finalizados
      *ngIf="mostrarTurnosXEspecialistaFinalizados"
    ></app-grafico-cant-turnos-especialista-finalizados>
  </div>
</body>
